<?xml version='1.0' encoding='utf-8'?>
<widget id="me.jefframos.spaders" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Spaders</name>
    <description>Spaders video game odyssey</description>
    <author email="jeffs.ramos@gmail.com" href="https://jefframos.me">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="res/android/icon.png" platform="android" width="72" height="72" density="mdpi" />
</widget>
